.Auth {
  min-height: 100vh;
  padding: 0 2vw !important;
  h1 {
    margin: 0;
  }
  margin: 0;
  padding: 2vh 2vw;
  display: flex;
  .leftSide {
    width: 100vw;
    margin-top: 20vh;
    .leftSideWrap {
      width: 100%;
      button {
        width: 100%;
      }
      .greyLine {
        width: 100%;
        height: 1px;
        opacity: 0.25;
        background-color: #4b5768;
        margin: 1vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .lineLabel {
          background-color: white;
          padding: 0 1vw;
        }
      }

      .secondBtn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
    }
  }

  .rightSide {
    display: none;
    svg {
      height: fit-content;
    }
  }
}

@media (min-width: 744px) {
  .Auth {
    padding: 0 !important;

    .leftSide {
      width: 50vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0vh;
      .leftSideWrap {
        width: 350px;
      }
    }

    .rightSide {
      background-color: #bf0b00;
      width: 50vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

[data-theme="dark"] .Auth {
  .rightSide {
    background-color: black;
  }
}
