[data-theme="dark"] .navBarClose {
  .menuBtn {
    .menuBtnLine {
      background-color: white;
    }
  }
}
[data-theme="dark"] .navBar {
  .NavMenu {
    .menuItem {
      color: white;
      &:hover {
        background-color: #131313;
      }
    }
  }
  background: linear-gradient(180deg, #9a1a1e 0%, #000 100%);
}
[data-theme="dark"] .navBar {
  background-color: #131313;
  color: white;
  .greetPartMenu {
    color: #fff;
    background: #131313;
  }
}

.navBarWrap {
  position: fixed;
  z-index: 100;
  height: 100vh;
  z-index: 100;
}
.navBar {
  width: 260px;
  height: 100vh;
  background-color: white;
  .greetPartMenu {
    display: flex;
    background: linear-gradient(180deg, #9a1a1e 0%, #800f13 100%);
    padding: 2vh 18px 2vh 28px;
    color: white;
    height: 15%;
    .firstMenu {
      &:nth-child(1) {
        align-self: end;
      }
      &:nth-child(2) {
        align-self: end;
        margin-left: 2vw;
        margin-bottom: 0.5vh;
      }
      &:nth-child(3) {
        flex: 1;
        height: 30px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .NavMenu {
    ul {
      list-style: none;
      padding: 0;
      .menuItem {
        color: #262626;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 1vh 0 1vh 28px;
        font-weight: 600;
        font-family: var(--montserrat-font);
        .icon {
          width: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .menuItemText {
          margin-left: 2vh;
          text-transform: capitalize;
        }
        &:hover {
          background-color: #e2e2e2;
        }
      }
    }
    .greyLine {
      width: 80%;
      margin-left: 28px;
      height: 1px;
      background-color: #818181;
    }
  }
  .version {
    padding: 1vh 0 1vh 28px;

    color: #818181;
  }
}

.navBarClose {
  position: fixed;
  top: 0;
  background: transparent;
  // background: linear-gradient(180deg, #9a1a1e 0%, #800f13 100%);
  padding: 0;
  height: fit-content;
  width: 56px;
  z-index: 100;
  .menuBtn {
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 0;
    &:hover {
      cursor: pointer;
    }
    .menuBtnLine {
      height: 2px;
      width: 24px;
      background-color: black;
    }
  }
  ul {
    display: none;
    // list-style: none;
    // padding: 0;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // li {
    //   padding: 1vh 0;
    // }
  }
}

@media (min-width: 480px) {
  [data-theme="dark"] .navBarClose {
    background: linear-gradient(180deg, #9a1a1e 0%, #000 100%);
  }

  .navBarClose {
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: linear-gradient(180deg, #9a1a1e 0%, #800f13 100%);
    .menuBtn {
      .menuBtnLine {
        background-color: white;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 0;
      li {
        padding: 1vh 0;
      }
    }
  }
}
