.gridBlock {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
  grid-template-rows: 100px;
  gap: 20px;
  .gridItem {
    border-radius: 0.25rem;
    border: 1px solid #dbdbdb;
    background: #fff;
  }
}

[data-theme="dark"] .gridBlock {
  .gridItem {
    border: 1px solid rgba(0, 0, 0, 0.46);
    background: #131313;
  }
}
